[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/ronedier/nvim-config.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://git::@github.com/tmux-plugins/tpm
